
.header-section {
    z-index: 9999;
   width: 100%;
    position: fixed;
    background-color:transparent;
    transition: 0.5s;
  }
  .is-sticky{
    background-color:white;
    transition: 0.5s;
    .formSearch{opacity: 1;
                transition: 0.5s;
    }
    .icon{
        color: #000;
         transition: 0.5s;

    }
    .navbar-nav {
        .nav-item{
            .nav-link{
                color: #000 !important;
                transition: 0.5s;

            }
            .nav-link.active{
                color: #1e1692;
                transition: 0.5s;
                
            }
        }}
    .buttonLogin{
        color:#1dbf73 !important;
        border: 1px solid #1dbf73!important;
    }
   
  }
.is-sticky1{
    transition: 0.5s;
    .menu{
        display: block;
        transition: 0.5s;
    }
}
.container-fluid{
    
    padding: 20px 50px;
 }
 .icon{
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-size: 40px;
    line-height: 24px;
    margin-right: 30px;
    color: white;
    span{
        font-size: 8px;
        color: #1dbf73;
    }
 }
 .formSearch{
    opacity: 0;
    width: 35%;
 }
.inputSearchHeader{
    width: 90%; 
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    border: 1px solid rgb(171, 161, 161);
    outline: 0;
}
.btnSearchHeader{
    width: 10%;
    color: white;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px ;
    background-color: black;
    &:hover{
        color: white !important;
        background-color: rgb(36, 34, 34) !important;
    }
}
.navbar-nav {
    .nav-item{
        font-weight: 600;
        color: white;
        .nav-link{
            color: white;
            &:hover{
                color: #1dbf73;
            }
        }
        
    }
    .buttonLogin{
        font-weight: 700;
        font-size: 15px;
        padding: 3px 15px !important;
        color:#fff ;
        border: 1px solid #fff;
        border-radius: 7px;
        background-color: transparent;
        transition: 0.5s;
        &:hover{
            color: white;
            background-color:#1dbf73 ;
        }
        
    }
}
//loại công viêc
/* Nút Dropdown*/
.menu{
    display: none;
    border-top: 1px solid #74767e;
    border-bottom: 1px solid #74767e;
    padding-top: 8px;
    padding-bottom: 8px;
    transform: 0.5s ;
    
}
.nut_dropdown {
    background-color: transparent;
    padding: 0px 22px;
    font-size: 16px;
    border: none;
    color: #74767e;
    font-weight: 600;   
    
  }
 /* Thiết lập vị trí cho thẻ div với class dropdown*/
  .dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    &:hover{
        background-color: white;
    }
  }
 /* Nội dung Dropdown */
  .noidung_dropdown {
    /*Ẩn nội dung các đường dẫn*/
    position: absolute;
    background-color: white;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    .loaiCV{
        display: none;
        min-width: 220px;
        p{
            font-weight: 600;
            margin-left: 10px;
            margin-top: 10px;
        }
    }
  }
 
 /* Thiết kế style cho các đường dẫn trong Dropdown */
  .noidung_dropdown a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;

  }
 
 /* thay đổi màu background khi hover vào đường dẫn */
  .noidung_dropdown a:hover {background-color: #ddd;}
 /* hiển thị nội dung dropdown khi hover */
  .dropdown:hover .noidung_dropdown .loaiCV {display: block;}
 /* Thay đổi màu background cho nút khi được hover */
  .dropdown:hover .nut_dropdown {
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #1dbf73;
    }
  }